__pycache__/app.cpython-38.pyc
__pycache__/helpers.cpython-38.pyc
web_scrapping/web_scrapping/__pycache__/__init__.cpython-38.pyc
web_scrapping/web_scrapping/__pycache__/settings.cpython-38.pyc
web_scrapping/web_scrapping/spiders/__pycache__/__init__.cpython-38.pyc
web_scrapping/web_scrapping/spiders/__pycache__/scripts.cpython-38.pyc
