body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("./image/orange-bg.png");

}

/* index */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 13px;
}

.logo {
  font-weight: 500;
  font-size: 25px;
}

nav {
  /* width: 90%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 10px 5%; */
}
.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.nav-items > li {
  text-decoration: none;
  margin: 10px;
}

.form-header {
  font-size: 36;
  font-weight: bold;
  margin: 10px 0;
  color: white;
  font-weight: 500;
  font-size: 25px;
}

.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#title-header {
    color: #d14b1a
}

.form-submit {
  background: #ed6e3f;
  color: white;
  width: 400px;
  height: 50px;
  border-radius: 15px;
  margin: 10px 0;
}

.form-input {
  padding: 12px 20px;
  width: 400px;
  height: 50px;
  border-radius: 15px;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.form-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* login */
.login {
    display: flex;
  }
  
  .container {
    height: 60vh;
    width: 60%;
  
    margin: 20vh 20%;
  }
  
  .input-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 12px 20px;

  }
  
  .input-user {
    width: 300px;
    height: 40px;
    border-radius: 15px;
    margin: 10px;
    padding: 12px 20px;

  }
  .input-pass {
    width: 300px;
    height: 40px;
    border-radius: 15px;
    margin: 10px;
    padding: 12px 20px;

  }
  .input-submit {
    width: 300px;
    height: 40px;
    border-radius: 15px;
    margin: 0px 10px;
    color: white;
    background: #ed6e3f;
    padding: 0px 20px;
    text-align: center;

  }
  
  .login-title, .signup-title {
    font-size: 20px;
    font-weight: bold;
  }
  ::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
  }
  
  ::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
  }
  
  :-ms-input-placeholder {
    text-align: center;
  }
  .sider {
    background-image: url(./images//background.png);
    width: 50%;
  }

  /* sign up */
  .login {
    display: flex;
  }
  
  .container {
    height: 60vh;
    width: 60%;
  
    margin: 20vh 20%;
  }
  
  .input-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 12px 20px;

  }
  
  .input-user {
    width: 300px;
    height: 40px;
    border-radius: 15px;
    margin: 10px;
    padding: 12px 20px;

  }
  .input-pass {
    width: 300px;
    height: 40px;
    border-radius: 15px;
    margin: 10px;
    padding: 12px 20px;

  }
  .input-confirm-pass {
    width: 300px;
    height: 40px;
    border-radius: 15px;
    margin: 10px;
    padding: 12px 20px;

  }
  /* .input-submit {
    width: 300px;
    height: 40px;
    border-radius: 15px;
    margin: 10px;
    color: white;
    background: #ed6e3f;
    padding: 12px 20px;

  } */
  

  .sider {
    background-image: url(./images//background.png);
    width: 50%;
  }

  .link-item {
      text-decoration: none;
      font-size: 15px;
      font-weight: bold;
      color:#d14b1a;
      margin: 0px 10px;
     
  }

  .link-items {
    display: flex;
    flex-direction: row;
  }

  .photo-container {
    width: 85%;
    margin: 0px auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .photo-detail {
    height: 300px; 
    width: 300px; 
    object-fit:cover;
    margin: 5px 5px 0px;
}

/* navbar css */

.navbar-custom {
  background-color: #ed6e3f;
}
.navbar-brand {
  color: white;
}
.navbar-custom .nav-item a {
  color: white;
}

.btn-custom {
  border: 1px solid white !important;
  color: white !important;
}