{% extends 'base.html'%}

{% block body%}
<div class=" container">


    <form class=" input-form" action="/login" method="post">
        <p class="login-title">LOGIN</p>

        <input class="input-user " type="text" placeholder="Username" name="username" autocomplete="off" autofocus>
        <input class="input-pass " type="text" placeholder="Passsword" name="password" autocomplete="off">
        <div>
            {{error_msg}}
        </div>
        <button class="input-submit" type="submit" class="btn btn-primary">
            Sign In
        </button>
    </div>
</form>
<div>{{ error_msg }}</div>
<a href="/forgot">Forgot password?</a>
<a href="/signup">Sign up</a>
{% endblock%}