{% extends 'base.html'%}

{% block body%}
<div class="container">

    <form class="input-form" action="/signup" method="post">
        <p class="signup-title">SIGN UP</p>
        <input class="input-user" type="text" placeholder="Your email" name="username">
        <input class="input-pass" type="password" placeholder="Password" name="password">
        <input class="input-confirm-pass" type="password" placeholder="Confirm Password" name="retypepw">
        <button class="input-submit" type="submit" class="btn btn-primary">Sign Up</button>
        <a class="link-item" href="/login">Log In</a>
    </form>
    <div>{{error_msg}}</div>
</div>
{% endblock%}